<h1 mat-dialog-title>Associate Details</h1>

<mat-dialog-content>
    
    <h3>Basic Information</h3>
<table class="styled-table">
 
    <thead><tr><th>Associate Name</th><th>{{associateData.associateName}}</th></tr></thead>
    <tbody>
    
    <tr><th>IBM Id</th><th>{{associateData.ibmId}}</th></tr>
    <tr><th>Email IBM</th><th>{{associateData.emailIbm}}</th></tr>
    <tr><th>Location</th><th>{{associateData.location}}</th></tr>
    <tr><th>Role</th><th>{{associateData.role}}</th></tr>
    <tr><th>It Exp Date</th><th>{{associateData.itExpDate}}</th></tr>
    <tr><th>ProjectId</th><th>{{associateData.projectId}}</th></tr>
    <tr><th>Engagement Name</th><th>{{associateData.engagementName}}</th></tr>
    <tr><th>Band</th><th>{{associateData.band}}</th></tr>
    <tr><th>Email Client</th><th>{{associateData.emailClient}}</th></tr>
    <tr><th>Xid</th><th>{{associateData.xid}}</th></tr>
    <tr><th>Client Manager</th><th>{{associateData.clientManager}}</th></tr>
    <tr><th>End Date</th><th>{{associateData.endDate}}</th></tr>
    <tr><th>City</th><th>{{associateData.city}}</th></tr>
    <tr><th>Bill Type</th><th>{{associateData.billType}}</th></tr>
    <tr><th>Bill Code</th><th>{{associateData.billCode}}</th></tr>
    <tr><th>As On Date</th><th>{{associateData.asOnDate}}</th></tr>
    <tr><th>Client Exp Date</th><th>{{associateData.clientExpDate}}</th></tr>
    <tr><th>IBM Date</th><th>{{associateData.ibmDate}}</th></tr>
    <tr><th>Experience With Pru</th><th>{{associateData.experienceWithPru}}</th></tr>
    <tr><th>Career Experience</th><th>{{associateData.careerExperience}}</th></tr>
    <tr><th>Experience With Ibm</th><th>{{associateData.experienceWithIbm}}</th></tr>
    <tr><th>Resource Criticality</th><th>{{associateData.resourceCriticality}}</th></tr>
    <tr><th>At Immigration Visa Risks</th><th>{{associateData.atImmigrationVisaRisks}}</th></tr>
    <tr><th>Backup Successor Resource</th><th>{{associateData.backupSuccessorResource}}</th></tr>
    <tr><th>Key Contingency Group</th><th>{{associateData.keyContingencyGroup}}</th></tr>
    <tr><th>Visa Type</th><th>{{associateData.visaType}}</th></tr>
    <tr><th>Work Permit Valid Until</th><th>{{associateData.workPermitValidUntil}}</th></tr>
    <tr><th>Extension Updates</th><th>{{associateData.extensionUpdates}}</th></tr>
    <tr><th>Visa Max Out Date</th><th>{{associateData.visaMaxOutDate}}</th></tr>
    <tr><th>Time Left In Us</th><th>{{associateData.timeLeftInUs}}</th></tr>
    <tr><th>Visa Nominations</th><th>{{associateData.visaNominations}}</th></tr>
    <tr><th>Risk Mitigation Comments</th><th>{{associateData.riskMitigationComments}}</th></tr>
    <tr><th>Plan In Case Of Extension Amendment Rejection</th><th>{{associateData.planInCaseOfExtensionAmendmentRejection}}</th></tr>
</tbody>
    
<h3 style="margin-top:50px">Skills</h3>
<table class="styled-table">
     
    <thead><tr><th>Skill</th><th>Rating</th></tr></thead>
    <tbody>
    <tr><th>Java</th><th>3</th></tr>
    <tr><th>Angular</th><th>4</th></tr>
    </tbody>
</table>



</table>
</mat-dialog-content>
  
<div mat-dialog-action [align]="'end'">

    <!-- <button mat-raised-button color="primary" (click)="addAssociate()">{{actionBtn}}</button> -->
    <button style="margin-left: 20px;" mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>
