<h1 mat-dialog-title>Associate Details</h1>

<mat-dialog-content>
    
    <h3>Basic Information</h3>
<table class="styled-table">
 
    <thead><tr><th>Associate Name</th><th>{{associateBasicData.associateName}}</th></tr></thead>
    <tbody>
    
    <tr><th>IBM Id</th><th>{{associateBasicData.ibmId}}</th></tr>
    <tr><th>Email IBM</th><th>{{associateBasicData.emailIbm}}</th></tr>
    <tr><th>Location</th><th>{{associateBasicData.location}}</th></tr>
    <tr><th>Role</th><th>{{associateBasicData.role}}</th></tr>
    <tr><th>It Exp Date</th><th>{{associateBasicData.itExpDate}}</th></tr>
    <tr><th>ProjectId</th><th>{{associateBasicData.projectId}}</th></tr>
    <tr><th>Engagement Name</th><th>{{associateBasicData.engagementName}}</th></tr>
    <tr><th>Band</th><th>{{associateBasicData.band}}</th></tr>
    <tr><th>Email Client</th><th>{{associateBasicData.emailClient}}</th></tr>
    <tr><th>Xid</th><th>{{associateBasicData.xid}}</th></tr>
    <tr><th>Client Manager</th><th>{{associateBasicData.clientManager}}</th></tr>
    <tr><th>End Date</th><th>{{associateBasicData.endDate}}</th></tr>
    <tr><th>City</th><th>{{associateBasicData.city}}</th></tr>
    <tr><th>Bill Type</th><th>{{associateBasicData.billType}}</th></tr>
    <tr><th>Bill Code</th><th>{{associateBasicData.billCode}}</th></tr>
    <tr><th>As On Date</th><th>{{associateBasicData.asOnDate}}</th></tr>
    <tr><th>Client Exp Date</th><th>{{associateBasicData.clientExpDate}}</th></tr>
    <tr><th>IBM Date</th><th>{{associateBasicData.ibmDate}}</th></tr>
    <tr><th>Experience With Pru</th><th>{{associateBasicData.experienceWithPru}}</th></tr>
    <tr><th>Career Experience</th><th>{{associateBasicData.careerExperience}}</th></tr>
    <tr><th>Experience With Ibm</th><th>{{associateBasicData.experienceWithIbm}}</th></tr>
    <tr><th>Resource Criticality</th><th>{{associateBasicData.resourceCriticality}}</th></tr>
    <tr><th>At Immigration Visa Risks</th><th>{{associateBasicData.atImmigrationVisaRisks}}</th></tr>
    <tr><th>Backup Successor Resource</th><th>{{associateBasicData.backupSuccessorResource}}</th></tr>
    <tr><th>Key Contingency Group</th><th>{{associateBasicData.keyContingencyGroup}}</th></tr>
    <tr><th>Visa Type</th><th>{{associateBasicData.visaType}}</th></tr>
    <tr><th>Work Permit Valid Until</th><th>{{associateBasicData.workPermitValidUntil}}</th></tr>
    <tr><th>Extension Updates</th><th>{{associateBasicData.extensionUpdates}}</th></tr>
    <tr><th>Visa Max Out Date</th><th>{{associateBasicData.visaMaxOutDate}}</th></tr>
    <tr><th>Time Left In Us</th><th>{{associateBasicData.timeLeftInUs}}</th></tr>
    <tr><th>Visa Nominations</th><th>{{associateBasicData.visaNominations}}</th></tr>
    <tr><th>Risk Mitigation Comments</th><th>{{associateBasicData.riskMitigationComments}}</th></tr>
    <tr><th>Plan In Case Of Extension Amendment Rejection</th><th>{{associateBasicData.planInCaseOfExtensionAmendmentRejection}}</th></tr>
</tbody>
    




</table>
<h3 style="margin-top:50px">Skills</h3>
<table class="styled-table">
     
    <thead><tr><th>Skill</th><th>Rating</th></tr></thead>
    <tbody>
    <tr *ngFor="let skill of associateSkillsData" >
        <th>{{getSkillName(skill.skillId)}}</th><th>{{skill.skillRating}}</th>
    </tr>
    
    </tbody>

</table>
</mat-dialog-content>
  
<div mat-dialog-action [align]="'end'">

    <!-- <button mat-raised-button color="primary" (click)="addAssociate()">{{actionBtn}}</button> -->
    <button style="margin-left: 20px;" mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>
