
<mat-toolbar color="primary">
  
  <span>Onboarding Application</span>
  <span class="example-spacer"></span>
  <button *ngIf="!jwtToken" mat-raised-button color="success" (click)="doLogin()">Login</button>
  <button *ngIf="jwtToken" mat-raised-button color="success" (click)="doLogout()">Logout</button>
  <button style="margin-right:10px"mat-raised-button color="success" routerLink="/home/associate/aratirouting">Add New Associate</button>
  <button mat-raised-button color="success" routerLink="/home/associate/allAssociates">All Associates</button>
</mat-toolbar>
<div class="welcomeDiv"><p class="welcomeText">Welcome to Onboarding Application</p></div>
<router-outlet></router-outlet>

{{jwtToken}}