/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    
    width: 14.7rem;
}

.react-css-style{
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid green;
    width: 50%;
}

.react-css-child-style{
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid blue;
    width: 50%;
}

.angular-css-style {
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid red;
    width: 50%;
}