/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    
    width: 14.7rem;
}

.react-css-style{
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid green;
    width: 50%;
}

.react-css-child-style{
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid blue;
    width: 50%;
}

.angular-css-style {
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid red;
    width: 50%;
}


// arati style start

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  
//   arati style end 